* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
  overflow-x: hidden;
}

h3 {
  font-family: monospace;
}
h4 {
  font-family: monospace;
}
p {
  font-family: monospace;
}

.home {
  display: grid;
}

.nav-items {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 70px;
  width: 100vw;
  gap: 1.875vw;
  padding-left: 11.25vw;
  position: fixed;
  border-bottom-style: solid;
  background-color: snow;
}

.nav {
  height: 70px;
  z-index: 100;
}

.wlcm {
  margin-bottom: 1.9404915912031049vh;
  font-size: 2.7vw;
  text-decoration: underline double;
}

.nav-opt {
  font-weight: bold;
  text-decoration: none;
  color: black;
  font-size: 1.5vw;
}

.test {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12.5vw;
  margin-top: 10.349288486416558vh;
  margin-bottom: 6.468305304010349vh;
}

.msg {
  width: 40.625vw;
  padding-bottom: 19.404915912031047vh;
  text-align: left;
}

.img1 {
  padding-bottom: 90.55627425614489vh;
  height: 71.53945666235447vh;
  width: 16.0625vw;
  z-index: -1;
}

.logo {
  padding-top: 0.258732212160414vh 0.125vw 0.258732212160414vh 0.125vw;
  font-size: 2rem;
  border-style: solid;
  color: black;
  text-decoration: none;
}

.down {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: black;
  font-size: 1.25vw;
  background: white;
  padding: 1.2936610608020698vh 1.25vw 1.2936610608020698vh 1.25vw;
  border: solid black 4px;
  text-decoration: none;
}

.down:hover {
  background: black;
  text-decoration: none;
  color: white;
}

.btn {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: black;
  font-size: 1.25vw;
  background: rgb(0, 175, 0);
  padding: 1.2936610608020698vh 1.25vw 1.2936610608020698vh 1.25vw;
  border: solid black 4px;
  text-decoration: none;
}

.btn:hover {
  background: rgb(0, 255, 0);
  text-decoration: none;
}

.tech {
  background-color: #e1e1e1;
  padding-bottom: 12.936610608020699vh;
}

.stack {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.875vw;
  margin-top: 6.468305304010349vh;
}

.stack-opt {
  width: 4.375vw;
}

.about {
  margin-top: 17.464424320827945vh;
}

.me {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 6.468305304010349vh;
  gap: 4.375vw;
}

.boy {
  width: 18.75vw;
}

.me-text {
  text-align: left;
  font-size: 2vw;
  width: 40%;
}

.buttons {
  display: flex;
  gap: 0.625vw;
}

.dropdwnimg {
  height: 100%;
}
.dropdwn {
  height: 90%;
  background-color: transparent;
  border-style: none;
}

.geetshaan {
  font-size: 5vw;
}

.quote {
  font-size: 2vw;
  font-family: serif;
}

.bio {
  font-size: 1.5vw;
  margin-bottom: 30px;
}

@media screen and (max-width: 1000px) {
  .img1 {
    opacity: 0.3;
  }
}

@media screen and (min-width: 1170px) {
  .dropdwn {
    display: none;
  }
}

@media screen and (max-width: 1170px) {
  .nav-opt {
    display: none;
  }

  .buttons {
    display: grid;
    gap: 1.5vh;
  }

  .down {
    width: 32%;
  }

  .btn {
    width: 47%;
  }

  .dropdwn {
    margin-left: 55%;
  }

  .geetshaan {
    font-size: 7.5vw;
  }

  .quote {
    font-size: 5vw;
  }

  .wlcm {
    font-size: 5vw;
  }

  .bio {
    font-size: 2vw;
  }

  .img1 {
    padding-bottom: 105vh;
  }
}

@media screen and (max-width: 780px) {
  .nav-opt {
    display: none;
  }

  .logo {
    display: none;
  }

  .dropdwn {
    margin-left: 0;
  }

  .geetshaan {
    font-size: 12vw;
  }

  .quote {
    font-size: 5.5vw;
  }

  .wlcm {
    font-size: 5.5vw;
  }

  .bio {
    font-size: 3vw;
  }
}
